<strong> Olá, {{student}} </strong>
<p>Sua pergunta foi respondida!</p>
<p><br>
  <strong>Pergunta</strong>
  <p>{{question}}</p>
  <br />


  <strong>Resposta</strong>
  <p>{{answer}}</p>
  <br />

  <br />
  <small>
    Espero que sua duvida tenha sido sanada, caso contrário, sinta-se a vontade para entrar em contato novamente!
  </small>
</p>
